// Container

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1290px
);

@include _assert-ascending($container-max-widths, '$container-max-widths');

// Colors
$dark-blue: #1e75bb;
$light-blue: #37cbcf;
$dark-orange: #f26f3c;
$light-orange: #ef8d65;
$purple: #7c54a0;
$primary: $dark-blue;
$secondary: $light-orange;
$warning: #ffd200;
$green: #5fc178;

$light: #f6f7f7;
$medium: #c5c4c4;
$dark: #222222;
$gray: #646464;

$theme-colors: ();
$theme-colors: map-merge(
	(
		'primary': $primary,
		'secondary': $secondary,
		'success': $success,
		'info': $info,
		'warning': $warning,
		'danger': $danger,
		'dark': $dark,
		'light': $light,
		'white': $white,
		'black': $black,
		'gray': $gray,
		'dark-blue': $dark-blue,
		'light-blue': $light-blue,
		'dark-orange': $dark-orange,
		'light-orange': $light-orange,
		'purple': $purple,
		'medium': $medium
	),
	$theme-colors
);

$body-color: $gray;
$link-color: theme-color('primary');
$font-size-base: pxToRem(12);

// Spacings

$spacer: 20px;
$spacers: () !default;

$spacers: map-merge(
	(
		0: 0,
		1: $spacer * 0.25,
		2: $spacer * 0.5,
		3: $spacer * 0.75,
		4: $spacer,
		5: $spacer * 1.5,
		6: $spacer * 2,
		7: $spacer * 2.5,
		8: $spacer * 3,
		9: $spacer * 6,
		10: $spacer * 7
	),
	$spacers
);

// Box Shadow
$box-shadow-sm: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.045);

// Text
$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-weight: 800;
$headings-margin-bottom: 1.5rem;
$headings-color: $dark;

// Headings
$h1-font-size: pxToRem(60);
$h2-font-size: pxToRem(48);
$h3-font-size: pxToRem(38);
$h4-font-size: pxToRem(30);
$h5-font-size: pxToRem(24);
$h6-font-size: pxToRem(18);

$headings-line-height: normal;

// Buttons
$btn-border-radius: 5px;
$btn-border-radius-lg: 5px;
$btn-border-radius-sm: 5px;
$btn-transition: all 0.25s ease-in-out;
$btn-border-width: 2px;

// Form
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 0.2rem lighten($primary, 30);
$input-border-radius: 0px;
$form-group-margin-bottom: $spacer;
$label-margin-bottom: 0.25rem;

// Badge
$badge-font-size: 100%;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.55em;
