// Bootstrap
@import 'mixins';
@import 'bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// Common components
@import '../../components/header';

// Additional imports

$font-size-sm: 0.85rem;

.text-sm {
	font-size: $font-size-sm;
}

img {
	max-width: 100%;
}

.flex-center {
	@extend .d-flex, .align-items-center, .justify-content-center;
}

body {
	background-color: #fff;
	font-family: $font-family-sans-serif;
}
